body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.contenedor {
    margin: auto;
    width: 900px;
}

header {
    background-color: #197FAB;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding: 10px;
}

header .logo img{
    height: 60px;
}

header .logo .nombre {
    display: inline-block;
    color: white;
    font-size: 35px;
    vertical-align: top;
    padding-top: 7px;
    font-weight: 700;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

header .enlaces {
    height: 100%;
    margin: 0;
    display: inline-block;
}

header .enlace{
    display: inline-block;
    padding: 30px 10px;
    height: 100%;

}

header .enlace:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header .enlace a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

header .hamburguesa {
    color: white;
    display: inline-block;
    font-size: 40px;
    padding-left: 10px;
    display: none;
}

.portada {
    width: 100%;
    height: 600px;
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2193b080, #6dd5ed80), url(../img/img1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2193b080, #6dd5ed80), url(../img/img1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.portada .texto-portada {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 430px;
    width: 100%;
    text-shadow: 2px 2px 4px darkslategray;
}

.texto-portada h1 {
    font-size: 50px;
}

.texto-portada p {
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 15px 0;
}

.texto-portada a {
    background-color: #F79D1C;
    border-radius: 8px;
    text-decoration: none;
    text-shadow: none;
    color: white;
    padding: 10px 20px 15px 20px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
}

.diagonal {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.diagonal-superior {
    top: 0;
    width: 100%;
    position: absolute;
}

.cont-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
}

.servicio {
    width: 25%;
    min-height: 280px;
    padding: 20px;
    color: white;
}

.servicio p {
    text-align: justify;
}

.servicio a {
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
}

.servicio:nth-child(1) {
    background-color: tomato;
    border-radius: 30px 0 0 30px;
}

.servicio:nth-child(2) {
    background-color: goldenrod;
}

.servicio:nth-child(3) {
    background-color: yellowgreen;
}

.servicio:nth-child(4) {
    background-color: rebeccapurple;
    border-radius: 0 30px 30px 0;
}

.imagen-separador {
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    position: relative;
}

.texto-nosotros {
    margin-top: 60px;
    
}

.texto-nosotros h2 {
    color: rgb(67, 67, 67);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.texto-nosotros p {
    font-size: 18px;
    color: rgb(67, 67, 67);
    font-weight: 600;
    margin: 10px 0 40px auto;
    text-align: justify;
}

.numeros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    margin: auto;
}

.articulo-numero {
    margin: 0;
    border-radius: 5px;
    background-color: #197FAB;
    box-shadow: 3px 3px 8px grey;
    color: rgba(255, 255, 255, 0.7);
    width: 40%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 10px 10px 10px;
}

.articulo-numero .numero {
    font-size: 50px;
    text-align: center;

}

.articulo-numero h3 {
    font-size: 20px;
    text-align: center;
}

.footer {
    background-color: #197FAB;
}

.footer .contenedor {
    display: flex;
    flex-wrap: nowrap;
    color: white;
}

.derecha {
    width: 50%;
}
.contacto {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.formulario {
    display: flex;
    justify-content: space-around;
}

.col-2 {
    display: flex;
    flex-direction: column;
}